<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Bienvenido al Dashboard</h2>
    <h3>Canchas Disponibles</h3>
    <ul>
        {% for cancha in canchas %}
            <li>{{ cancha.nombre }} - {{ cancha.ubicacion }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'reservation' %}">Hacer una Reserva</a></p>
    <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>
</body>
</html>

